body {
    font-family: Arial, 'sans-serif';
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic
}

.title {
    padding: 10px;
    border-radius: 5px;
    color: yellow;
}

.btn {
    padding: 10px;
    background-color: #94d249;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

table th, table td {
    border: solid 1px #000;
    padding: 10px;
}